@use 'sass:color';

// 浅色科技主题
html>body.vab-theme-technology {
  --el-dialog-bg-color: #ffffff;
  --el-color-black: rgba(0, 0, 0, 0.85);
  --el-color-white: #f0f5ff;
  --el-color-grey: rgba(0, 0, 0, 0.45);
  --el-menu-background-color: #ffffff;
  --el-menu-background-color-second: #f5f8ff;
  --el-background-technology: #f0f5ff;
  --el-menu-text-color: #333333;
  --el-menu-color-text: #515a6e;
  --el-bg-color-page: #e8f0fe;
  --el-bg-color: #dce8fc;
  --el-bg-color-overlay: #ffffff;
  --el-text-color-primary: #303133;
  --el-text-color-regular: #606266;
  --el-text-color-secondary: #909399;
  --el-text-color-placeholder: #a8abb2;
  --el-text-color-disabled: #c0c4cc;
  --el-border-color-darker: #{color.mix(#000000, #4e88f3, 30%)};
  --el-border-color-dark: #{color.mix(#000000, #4e88f3, 20%)};
  --el-border-color: #{color.mix(#000000, #4e88f3, 10%)};
  --el-border: 1px solid #{color.mix(#000000, #4e88f3, 10%)};
  --el-border-color-light: #{color.mix(#000000, #4e88f3, 6%)};
  --el-border-color-lighter: #{color.mix(#000000, #4e88f3, 3%)};
  --el-border-color-extra-light: #dce8fc;
  --el-fill-color-darker: #c8daf8;
  --el-fill-color-dark: #dce8fc;
  --el-fill-color: #e8f0fe;
  --el-fill-color-light: #{color.mix(#000000, #e8f0fe, 3%)};
  --el-fill-color-lighter: #{color.mix(#000000, #e8f0fe, 1%)};
  --el-fill-color-extra-light: #{color.mix(#000000, #e8f0fe, 5%)};
  --el-fill-color-blank: #ffffff;
  --el-mask-color: rgba(0, 0, 0, 0.45);

  --w-e-textarea-bg-color: #ffffff;
  --w-e-textarea-color: #333;
  --w-e-textarea-border-color: #dce8fc;
  --w-e-textarea-slight-border-color: #dce8fc;
  --w-e-textarea-slight-color: #f0f5ff;
  --w-e-textarea-slight-bg-color: #e8f0fe;
  --w-e-textarea-selected-border-color: #4e88f3;
  --w-e-textarea-handler-bg-color: #4e88f3;
  --w-e-toolbar-color: #333;
  --w-e-toolbar-bg-color: #ffffff;
  --w-e-toolbar-active-color: #4e88f3;
  --w-e-toolbar-active-bg-color: #e8f0fe;
  --w-e-toolbar-disabled-color: #c0c4cc;
  --w-e-toolbar-border-color: #dce8fc;
  --w-e-modal-button-bg-color: #ffffff;
  --w-e-modal-button-border-color: #dce8fc;

  color: var(--el-color-black) !important;
  background-color: var(--el-bg-color-page) !important;

  .vab-side-bar {
    border-right: 1px solid var(--el-border-color) !important;
  }

  .mobile {
    .vab-side-bar {
      border-left: 0 solid var(--el-border-color) !important;
    }
  }

  section>div[class*='-container'],
  .no-background-container {
    background: #ffffff !important;
  }

  .vab-column-bar {
    border-right: 1px solid var(--el-border-color) !important;

    .el-tabs {
      margin-left: -1px !important;
      border-right: 1px solid var(--el-border-color) !important;

      .el-tabs__item {
        color: var(--el-color-black) !important;
      }

      .el-tabs__nav {
        background: #ffffff !important;
      }
    }

    &-arrow {
      .el-tabs {
        .el-tabs__item {
          &.is-active {
            color: var(--el-menu-color-text) !important;
            background: transparent !important;

            .vab-column-grid {
              background: transparent !important;

              &:after {
                border-color: transparent var(--el-menu-color-text) transparent transparent;
              }
            }
          }
        }
      }
    }
  }

  .vab-tabs-content-card {
    .el-tabs__header {
      .el-tabs__item {
        border: 1px solid var(--el-border-color) !important;
      }
    }
  }

  .vab-logo-column {
    .logo {
      background: #ffffff !important;
      border-right: 1px solid var(--el-border-color) !important;
    }
  }

  /*el-dialog、el-message-box */
  .el-dialog,
  .el-message-box {
    position: relative;
    overflow: visible;
    background: #ffffff;
    border: 2px solid #4e88f3;
    border-radius: 8px;

    &__header {
      position: relative;
      background: #ffffff !important;

      .el-dialog__title,
      .el-dialog__close {
        color: #333333;
      }

      i[class*='__close'] {
        width: 24px;
        height: 24px;
        line-height: 22px;
        border: 1px solid transparent;
        transition: none;

        &:hover {
          color: #4e88f3;
        }
      }
    }

    &::before {
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: 30px;
      z-index: 0;
      width: calc(100% - 60px);
      pointer-events: none;
      content: '';
      border-top: 2px solid #a0c4f8;
      border-bottom: 2px solid #a0c4f8;
    }

    &::after {
      position: absolute;
      top: 30px;
      right: -2px;
      left: -2px;
      z-index: 0;
      height: calc(100% - 60px);
      pointer-events: none;
      content: '';
      border-right: 2px solid #a0c4f8;
      border-left: 2px solid #a0c4f8;
    }
  }

  /*el-drawer */
  .el-drawer.rtl {
    border-left: 1px solid var(--el-border-color);
  }

  .el-pagination {
    &.is-background {

      .btn-prev:disabled,
      .btn-next:disabled {
        background-color: var(--el-pagination-button-bg-color);
      }
    }
  }

  .el-drawer__header {
    color: var(--el-color-black);
  }

  .el-radio-button {
    &__inner {
      border: 1px solid var(--el-border-color) !important;
    }
  }

  .el-input {
    &.is-disabled {
      .el-input__wrapper {
        background: #e8f0fe !important;
      }
    }
  }

  .vab-header {
    border-bottom: 1px solid var(--el-border-color) !important;

    .vab-logo-horizontal {
      height: calc(var(--el-header-height) - 2px);
    }

    .vab-main {
      .right-panel {

        [class*='ri-'],
        .username {
          color: var(--el-color-black) !important;
        }
      }
    }
  }

  .vab-tabs-content-smooth {
    .el-tabs__header {
      .el-tabs__item {
        &:hover {
          color: var(--el-color-black);
          background: #e8f0fe;
        }
      }
    }
  }

  /* .vab-hey-message */
  [class*='vab-hey-message'] {
    border: 1px solid var(--el-border-color) !important;
  }

  /* svg */
  [fill='#fff'] {
    fill: #ffffff !important;
  }

  [fill='#f2f2f2'],
  [fill='#d0d2d5'] {
    fill: var(--el-bg-color) !important;
  }

  .login-container,
  .register-container {
    background: #e8f0fe !important;
  }

  .el-button,
  .el-switch,
  .el-checkbox,
  .el-checkbox-group,
  .el-radio,
  .el-radio-group,
  .el-slider,
  .el-tag,
  .el-pagination,
  .el-segmented,
  .el-carousel,
  .el-menu,
  .el-card__body::after,
  .el-alert.is-dark,
  .el-badge,
  .fold-unfold,
  .schedule-box,
  .vab-theme-setting div a:hover,
  .transition-box,
  .top-card-blue,
  .icon-panel {
    --el-color-white: #ffffff;
  }

  .el-divider__text {
    background-color: #ffffff !important;
  }

  .vab-blockquote {
    background-color: rgba(0, 0, 0, 0.04) !important;
  }
}