/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
[data-v-95d65b1a] .el-card__body{display:flex;flex:1;flex-direction:column;height:100%;padding:20px}.import-container[data-v-95d65b1a]{display:flex;flex-direction:column;height:80vh}.left-card[data-v-95d65b1a]{flex:1;height:85vh;overflow:auto}.clearfix[data-v-95d65b1a]{margin-bottom:2%}.report-container[data-v-95d65b1a]{height:74vh;overflow-y:auto;border:1px solid #eee}
