/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
[data-v-2cb4d668] .el-card__header{font-size:medium}[data-v-2cb4d668] .el-card__body{display:flex;flex:1;flex-direction:column;height:100%;padding:20px}.aindex-container[data-v-2cb4d668]{display:flex;flex-direction:column;height:80vh}.card-container[data-v-2cb4d668]{display:flex;flex:1;gap:16px;min-height:0}.image-wrapper[data-v-2cb4d668]{display:flex;flex:1;align-items:center;justify-content:center}.imageRef[data-v-2cb4d668]{width:80%}
