/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.dashboard[data-v-7feeb03e]{display:flex;flex-direction:column;gap:20px;max-width:96%}.top-row[data-v-7feeb03e],.middle-row[data-v-7feeb03e],.bottom-row[data-v-7feeb03e],.last-row[data-v-7feeb03e]{display:flex;gap:30px;justify-content:space-between}.top-row[data-v-7feeb03e],.bottom-row[data-v-7feeb03e]{margin-bottom:-30px}
