/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.top-title[data-v-161467d9]{margin-bottom:1%;font-size:1rem;font-weight:800;text-align:center}.assistant-container[data-v-161467d9]{display:flex;flex-direction:column;height:80vh}.right-img[data-v-161467d9]{width:100%}
