/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.dashboard[data-v-7d6ddd97]{display:flex;flex-direction:column;gap:20px;max-width:96%}.top-row[data-v-7d6ddd97],.middle-row[data-v-7d6ddd97],.bottom-row[data-v-7d6ddd97],.last-row[data-v-7d6ddd97]{display:flex;gap:30px;justify-content:space-between}.top-row[data-v-7d6ddd97],.bottom-row[data-v-7d6ddd97]{margin-bottom:-30px}
