/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.dashboard-container[data-v-1f883e3b] .dashboard-user{height:168px!important}.dashboard-container[data-v-1f883e3b] .dashboard-user .el-card__body{display:flex;align-items:center;justify-content:center}.dashboard-container[data-v-1f883e3b] .dashboard-user .el-card__body .vab-icon{width:100%;height:130px}.dashboard-container[data-v-1f883e3b] .el-card [class*=-echart]{width:100%;height:170px}
