/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.data-screen-uperbottom[data-v-112eb588]{display:flex;align-items:center;justify-content:center;height:100%;font-size:1rem;padding-left:35%}.data-screen-bottom[data-v-112eb588]{display:flex;align-items:center;justify-content:center;height:100%;font-size:1rem;padding-left:23%}
