/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.count-text[data-v-c9836eb8]{justify-items:center;height:180px;font-size:4rem;font-weight:700;text-align:center;background:linear-gradient(to top,#77e0a0,var(--el-color-primary));-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent}[data-v-c9836eb8] .el-card__body{padding:5px}
