/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-06-16 10:30:48 
 */
.count-text[data-v-d6b3034d]{justify-items:center;height:180px;font-size:35px;font-weight:700;text-align:center;background:linear-gradient(to top,#77e0a0,var(--el-color-primary));-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent}
