/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.title-row[data-v-37d0f96a]{box-sizing:border-box;display:block;width:100%;padding:1%;font-size:1rem}.infinite-list[data-v-37d0f96a]{height:80vh;padding:0;margin:0;list-style:none}.infinite-list .infinite-list-item[data-v-37d0f96a]{box-sizing:border-box;display:block;width:100%;padding:1%;margin:10px;font-size:1rem;background:var(--el-color-primary-light-9)}.infinite-list .infinite-list-item+.list-item[data-v-37d0f96a]{margin-top:10px}
