/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.selectors-container[data-v-426f3c18]{display:flex;align-items:center;margin-bottom:20px}.left-button-space[data-v-426f3c18]{display:flex;justify-content:flex-end;padding-top:16px;margin-top:auto}[data-v-426f3c18] .el-card__body{display:flex;flex:1;flex-direction:column;height:100%;padding:20px}.import-container[data-v-426f3c18]{display:flex;flex-direction:column;height:80vh}.card-container[data-v-426f3c18]{display:flex;flex:1;gap:16px;min-height:0}.left-card[data-v-426f3c18],.right-card[data-v-426f3c18]{flex:1;min-width:520px}.imageRef[data-v-426f3c18]{width:100%;margin-top:6%}
