/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.transition-box{width:200px;height:100px;padding:40px 20px;margin-right:20px;margin-bottom:10px;color:var(--el-color-white);text-align:center;background-color:var(--el-color-primary);border-radius:var(--el-border-radius-base)}
