/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.vab-colorful-card[data-v-b8c39306]{position:relative;min-height:120px;cursor:pointer}.vab-colorful-card[data-v-b8c39306] .el-card__header{color:var(--el-color-white)}.vab-colorful-card i[data-v-b8c39306]{position:absolute;right:20px;font-size:60px;transform:rotate(15deg)}
