/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.dictionary-management-container .tree-button[data-v-e7eb6431]{width:100%;margin-bottom:var(--el-margin)}.dictionary-management-container[data-v-e7eb6431] .el-tree{margin-top:var(--el-margin)}.dictionary-management-container[data-v-e7eb6431] .el-tree-node__label{display:block;width:100%}.dictionary-management-container[data-v-e7eb6431] .el-tree-node__content a{position:absolute;right:5px}
