/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.infinite-list{height:245px;padding:0;margin:0;list-style:none}.infinite-list .infinite-list-item{display:flex;align-items:center;justify-content:center;height:50px;margin:10px;color:var(--el-color-primary);background:var(--el-color-primary-light-9)}.infinite-list .infinite-list-item+.list-item{margin-top:10px}
