/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.upload-container[data-v-9aa69107]{width:100%;height:10vh;overflow:auto}[data-v-9aa69107] .el-upload--picture-card,[data-v-9aa69107] .el-upload-list--picture-card .el-upload-list__item{display:flex;flex-direction:column;align-items:center;justify-content:center;width:80px;height:90px}.custom-pdf-card[data-v-9aa69107]{display:flex;flex-direction:column;align-items:center;padding:10px;cursor:pointer}.pdf-name[data-v-9aa69107]{display:-webkit-box;margin-top:8px;overflow:hidden;-webkit-line-clamp:2;font-size:12px;text-align:center;word-break:break-all;-webkit-box-orient:vertical}
