/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.floating-button[data-v-cc18d603]{position:relative;z-index:20!important;margin-top:0;margin-left:650px;font-size:16px;box-shadow:0 4px 12px rgba(0,0,0,.15);transition:all .3s ease}.floating-button[data-v-cc18d603]:hover{box-shadow:0 6px 16px rgba(0,0,0,.2);transform:translateY(-2px)}
