/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.percentage-value[data-v-d17be3cb]{display:block;margin-top:10px;font-size:28px}.percentage-label[data-v-d17be3cb]{display:block;margin-top:10px;font-size:var(--el-font-size-extra-small)}.demo-progress .el-progress--line[data-v-d17be3cb]{width:350px;margin-bottom:15px}.demo-progress .el-progress--circle[data-v-d17be3cb]{margin-right:15px}
