/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.legend-item[data-v-108c8f63]{display:flex;align-items:center;margin-bottom:5px;margin-left:5px}.c-my-panel[data-v-108c8f63]{position:absolute;top:10px;left:10px;z-index:800;width:150px;padding:10px;overflow:hidden;border-radius:10px}.c-my-panel .c-option-name[data-v-108c8f63]{font-size:14px;line-height:20px;color:#fff}
