/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.top-title[data-v-a642ed8d]{margin-bottom:1%;font-size:1rem;font-weight:800}.title[data-v-a642ed8d]{margin-bottom:1%;font-size:.8rem;font-weight:800;text-align:center}[data-v-a642ed8d] .el-card__body{display:flex;flex:1;flex-direction:column;height:100%;padding:20px}.report-container[data-v-a642ed8d]{height:80vh;width:50%;margin-left:25%}.card-container[data-v-a642ed8d]{display:flex;flex:1;gap:16px;min-height:0}.left-card[data-v-a642ed8d],.right-card[data-v-a642ed8d]{flex:1;min-width:520px}.right-img[data-v-a642ed8d]{width:100%}vab-pdf[data-v-a642ed8d]{height:100px}
