/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 10:57:39 
 */
.top-title[data-v-6638fe44]{margin-bottom:1%;font-size:1rem;font-weight:800}.title[data-v-6638fe44]{margin-bottom:1%;font-size:.8rem;font-weight:800;text-align:center}[data-v-6638fe44] .el-card__body{display:flex;flex:1;flex-direction:column;height:100%;padding:20px}.report-container[data-v-6638fe44]{width:50%;margin-left:25%}.card-container[data-v-6638fe44]{display:flex;flex:1;gap:16px;min-height:0}.left-card[data-v-6638fe44],.right-card[data-v-6638fe44]{flex:1;min-width:520px}.right-img[data-v-6638fe44]{width:100%}vab-pdf[data-v-6638fe44]{height:100px}
