/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.vab-tree-border[data-v-98a85191]{width:100%;height:250px;padding:var(--el-padding);overflow-y:auto;border:1px solid var(--el-border-color);border-radius:var(--el-border-radius-base)}
