/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.infinite-list[data-v-5aaefd50]{height:80vh;padding:0;margin:0;list-style:none}.infinite-list .infinite-list-item[data-v-5aaefd50]{display:flex;align-items:center;padding:1%;margin:10px;font-size:1rem;line-height:200%;white-space:pre-wrap;background:var(--el-color-primary-light-9)}.infinite-list .infinite-list-item+.list-item[data-v-5aaefd50]{margin-top:10px}
