/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-06-16 10:30:48 
 */
.judge-container[data-v-e0fbaf6f]{display:flex;flex-direction:column;height:auto;overflow:auto}.card-container[data-v-e0fbaf6f]{display:flex;flex:1;flex-direction:column;gap:16px;min-height:800px}
