/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-08-22 11:26:35 
 */
.judge-container[data-v-5b9a741c]{display:flex;flex-direction:column;height:auto;overflow:auto}.card-container[data-v-5b9a741c]{display:flex;flex:1;flex-direction:column;gap:16px;min-height:800px}
